.container {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  width: 100%; 
  height: calc(100vh - 55px);
  margin: 0;
  background-image: url("/indios.png");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 15px 15px;

}

.logo{
  width: 100%;
  text-align: center;
  cursor: pointer;
  
}

.logo > img {
  width: 9rem;
}

.wellcomeSection{
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;

}

.wellcomeSection > a {
  color: black;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  cursor: pointer;
}

.wellcomeSection > a:hover {
  color: #356296
}

.visitButton > button{
  width: 15rem;
  height: 4rem;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
}
