@media (max-width: 150px) {
  .customlist {
    display: none;
  }
}

@media (min-width: 600px) {
  .customlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    font-size: 0.875rem;
  }
}
