.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  background-color: #1a2a5a;
  width: 100%;
  height: 6rem;
  padding: 2rem;
  position: absolute;
  z-index: 1;
}

.svgContainer {
  display: flex;
  width: 25rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 70%;
  height: 70%;
}

@media (min-width: 150px) {
  .customlist {
    display: none;
  }
}

@media (max-width: 600px) {
  .customlist {
    display: flex;
  }
}

.hambuerguerMenuWrapper {
  position: absolute;
  width: 100vh;
  height: 30rem;
  background-color: #1a2a5a;
  opacity: 0.9;
  z-index: 100;
}

@media (max-width: 600px) {
  .desktopNav {
    display: none;
  }
}

@media (min-width: 601px) {
  .desktopNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 20rem;
    height: 4rem;
    margin-right: 50px;
  }
}

.navText {
  color: #fff;
  margin: 1rem;
  font-size: 1.9rem;
  font-family: "Inter";
  font-weight: 600;
}

.navText:hover {
  color: "#be8559";
}
