@media (min-width: 300px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  .infoContainer {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .googleMaps {
    border: none;
    width: 100%;
    height: 500px;
    padding: 15px;
  }
}

@media (min-width: 767px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 60px;
  }
  .infoContainer {
    display: flex;
    width: 30%;
    flex-direction: row;
    gap: 5px;
  }
  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .googleMaps {
    border: none;
    width: 60%;
    height: 400px;
    padding: 15px;
    margin-bottom: 140px;
  }

  .infoContainerWraper {
  }
}
